<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zephyrs Blog</title>
</head>
    
<header>
    
<h2><a href="{% url 'home' %}" style="text-decoration:none;color:black">Zephyrs Blog</a></h2>

<b>A blog about everything and nothing</b>
</header>
<body>
    <p style="text-align:right">IMPLEMENT SEARCH FUNCTIONALITY!</p>
    {% block content %}

    {% endblock %}
</body>
<footer>
<div style="text-align:right">Proudly made with Django!<br><a href="{% url 'impressum' %}">Impressum, Datenschutz</a></div></html>
</footer>
</html>