<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zephyrs Blog</title>
</head>
    
<header>
    <h2>Zephyrs Blog</h2>
    <b>A blog about everything and nothing</b>
    <p style="text-align:right">IMPLEMENT SEARCHFUNCTIONALITY HERE!</p>
</header>
<body>
    {% block content %}

    {% endblock %}
</body>
<footer>
    <p><div style="text-align:center"><a href="/?mon=202404">ganzer Monat</a></div>
    <div style="text-align:right">Proudly made with Django<br><a href="#">Impressum</a></div>
</footer>
</html>