{% extends "fb_blog/base.html" %}

{% block content %}

    <h3>{{post.created_at|date:"D M d Y"}}</h3>
        <ul>
            <li>
                <a href="{% url 'detail' post.id %}">[l]</a> {{post.title}} 

                {% if post.body %}
                    <p>{{post.body}}</p>    
                {% endif %}

                {% if post.update %}
                    <p><b>Update</b>: {{post.update}}</p>
                {% endif %}
            </li>
        </ul>
        
<p><div style="text-align:center"><a href="{% url 'home' %}">home</a> -- <a href="{% url 'month' post.created_at|date:'Ym' %}">whole month</a> </div></p>

{% endblock %}