<!DOCTYPE HTML>
<title>Impressum</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<h2>Impressum und ViSdP</h2>

<i>[German law demands this]</i><p>

Fefes Blog (Felix von Leitner)<br>
c/o Raumfahrtagentur<br>
Gerichtstrasse 15<br>
13347 Berlin

<p>
Email <i>f&uuml;r Abmahnungen</i>: felix (minus) abmahnung (at) fefe (punkt) de
<p>
Email <i>f&uuml;r Einsendungen</i>: felix (minus) bloginput (at) fefe (punkt) de

<p>
Wer eine Mail an die Abmahn-Adresse schickt, die keine Abmahnung ist,
landet direkt im Killfile. Keine 2. Chancen.

<p>
PGP-Mails bitte mit <a
href="fefesblog.asc">Schlüssel
0xfc32ceeca534a9c6</a> (<a
href="http://wwwkeys.pgp.net/pks/lookup?op=get&search=0xfc32ceeca534a9c6">vom
PGP Keyserver</a>) verschlüsseln.  Bitte beachtet, dass ihr diesem
Schlüssel nicht trauen solltet, nur weil er von hier kommt.  Wenn ihr
davon ausgeht, dass jemand den Traffic zwischen euch und mir mitlesen
kann, dann müsst ihr auch davon ausgehen, dass derjenige die Daten
ändern kann, und euch einen falschen Schlüssel unterschieben kann.
Vertrauen in den Schlüssel lässt sich nur aufbauen, wenn man zu
Keysigning-Parties geht und dann über das Web of Trust über Intermediäre
Hinweise auf die Validität sammelt.  Es ist mindestens ein
Fake-Schlüssel für fefe.de unterwegs.
<p>
Achtung: Mails mit Werbe-Signaturen von Antiviren oder Freemailern oder
sowas wie "von meinem Iphone gesendet" werden automatisch
weggeschmissen.  Konfiguriert das also vor dem Versenden weg!  Siehe
auch <a href="faq.html#spam">die Ausführungen in der FAQ</a>.

<h2>Datenschutzerklärung</h2>

<p>
Der Webserver schreibt Logdateien mit den Zugriffen und den IP-Adressen
der Zugreifer. Diese dienen der Fehlersuche im Krisenfall und werden
ansonsten nicht ausgewertet. Da es hier keine Benutzerkonten und keine
Tracking-Cookies o.ä. gibt, betrachte ich diese Logdateien nicht als
personenbezogen.
<p>
Wer per URL-Parameter externe CSS-Stylesheets einbezieht, setzt seine
persönlichen Daten damit zusätzlich etwaigen Trackingversuchen des
externen Hosters aus.
<p>
Abgesehen davon werden keine Daten erhoben, gespeichert oder
ausgewertet.

</p>
</p>
</p>
</p></p></p></p></p></p>
